---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-use-nullptr,
  performance-*,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-implicit-bool-conversion,
  readability-redundant-control-flow,
  readability-redundant-smartptr-get
WarningsAsErrors: ''
HeaderFilterRegex: '^(api|app|core|debug|persistence|services|ui)/'
FormatStyle: file
SystemHeaders: false
...
