---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  readability-qualified-auto,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-implicit-bool-conversion,
  readability-redundant-control-flow,
  readability-redundant-smartptr-get
WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*[\\/])(app|core|diagnostics|infra|persistence|ui)([\\/]|$)'
ExcludeHeaderFilterRegex: '(^|.*[\\/])(\.build|build|cmake-build-[^\\/]*|vcpkg|vcpkg_installed)([\\/]|$)|(^|.*[\\/])(moc_|qrc_)'
FormatStyle: file
SystemHeaders: false
...
